<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>
  <h1>ARREGLOS FLORALES</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/Floral de la madre.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Special Lover</h3>
        <p class="card-description">Incluye: Rosas rojas naturales, 1 Globo burbuja decorado, 6 chocolates ferrero rocher, 1 mariposa, margaritas y gipsofilias.</p>
        <p class="card-price">$145.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/7.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Floral Dreams</h3>
        <p class="card-description">Arreglo floral especial, incluye osito teddy mini, chocolate en forma corazon zeus 3 unidades.</p>
        <p class="card-price">$100.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/10.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Champagne Love</h3>
        <p class="card-description">Incluye: Rosas rojas naturales, 9 chocolate ferrero rocher, y champaña JP Chenet</p>
        <p class="card-price">$130.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">My Sunflower</h3>
        <p class="card-description">Incluye: 4 girasoles grandes, Soliaster, 2 botellas smirnofs personal, Caja chocolate Mont Blanc, Chocolate Kinder Bueno mediano, Tarjeta personalizada, Caja corazon de madera grande. </p>
        <p class="card-price">$115.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Arreglo Florales/11.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Sweet love</h3>
        <p class="card-description">Incluye: Rosas rojas, 1 girasol, chocolate corazon zeus, mini nutella, M&Ms, mini hersheys, jumbo mani mini, burbujets, milkyway</p>
        <p class="card-price">$155.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/12.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Rose Edition</h3>
        <p class="card-description">Incluye: Caja de corazon pequeña, 10 Rosas naturales Blancas y Rosadas, gipsofilias, 4 chocolates ferrero rocher. </p>
        <p class="card-price">$90.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/15.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Love Gold</h3>
        <p class="card-description">Incluye: Caja de madera corazon, Rosas rojas naturales, gipsofilias, 6 chocolates ferrero rocher. </p>
        <p class="card-price">$115.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/17.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">True Love 2.0</h3>
        <p class="card-description">Incluye: 12 Rosas Rosadas naturales, 1 girasol, gipsofilias, Champaña JP Chenet pequeña, 9 chocolates ferrero rocher, tarjeta personalizada y caja corazon grande de madera.</p>
        <p class="card-price">$150.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 3 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/18.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Rose</h3>
      <p class="card-description">Incluye: 13 Rosas Rosadas Naturales, gipsofilias, 6 chocolates ferrero rocher, caja corazon de madera y una tarjeta personalizada.</p>
      <p class="card-price">$125.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--3 linea y 10 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/19.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">True Love</h3>
      <p class="card-description">Incluye: 12 Rosas rojas naturales, 1 girasol, gipsofilias, Champaña JP Chenet pequeña, 9 chocolates ferrero rocher, tarjeta personalizada y caja corazon grande. </p>
      <p class="card-price">$140.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 11 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/20.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Super Love</h3>
      <p class="card-description">Incluye: Caja de corazon grande con rosas naturales rojas, gipsofilias, mariposas decorativas doradas, 4 globos en forma de corazon con helio, tarjeta personalizada. </p>
      <p class="card-price">$200.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 12 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/21.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Queen Angela</h3>
      <p class="card-description">Incluye: 1 peluche mediano Angela, 14 rosas rojas naturales, gipsofilia, 1 girasol, 3 chocolates ferrero rocher, caja chocolate zeus 3 unidades, 3 chocolates burbujets, 2 chcolates jumbo mani mini, chcolate hersheys mini, caja corazon grande. </p>
      <p class="card-price">$185.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- Fin 3 linea-->
<!-- inicio de 4 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/6.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Forever Love</h3>
      <p class="card-description">Arreglo artificial de rosas en forma corazon.</p>
      <p class="card-price">$110.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--4 linea y 14 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/9.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Champagne Flower</h3>
      <p class="card-description">Incluye: Caja de madera forma corazon grande, 10 Rosas rosadas naturales, 1 Flor Lirio, margaritas, 8 chocolates de ferrero roccher, 1 champaña JP Chenet.  </p>
      <p class="card-price">$135.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 15 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/3.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Red Valentine</h3>
      <p class="card-description">Incluye: Rosas rojas naturales, gipsofilias, 9 chocolates ferrero rocher, 3 chocolates hersheys mini. </p>
      <p class="card-price">$130.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 16 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/2.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Romantic Lover</h3>
      <p class="card-description">Incluye: Rosas rosadas y blancas naturales, gipsofilias, 9 chocolates ferrero rocher, 3 chocolates hersheys mini.</p>
      <p class="card-price">$140.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- inicio de 5 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/13.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Special Woman</h3>
      <p class="card-description">Incluye: 12 Rosas Rojas naturales, gipsofilias, Champaña JP Chenet Pequeña, 9 Chocolates Ferrero Rocher, Tarjeta o Pin personalizada.</p>
      <p class="card-price">$120.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--5 linea y 18 tarjeta -->
  <div class="card">
    <img src="/images/Peluche y flores.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Teddy Love</h3>
      <p class="card-description">Incluye: 12 Rosas rosadas naturales, gipsofilias, oso de peluche teddy, tarjeta personalizada, caja forma corazon grande.</p>
      <p class="card-price">$165.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--5 linea y 19 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/16.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Love Gold Deluxe</h3>
      <p class="card-description">Incluye: Caja de madera corazon, Rosas rojas naturales, gipsofilias, 6 chocolates ferrero rocher, globo corazon con helio </p>
      <p class="card-price">$130.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--5 linea y 20 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/1.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Stich Love</h3>
      <p class="card-description">Incluye: 6 Rosas rojas naturales, gipsofilias, Peluche Stich mediano, Globo azul forma estrella, 6 Chocolates Ferrero Rocher, 3 chocolates Hersheys mini, Caja madera grande forma corazon. </p>
      <p class="card-price">$155.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>


<!-- inicio de 6 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/8.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Special Woman</h3>
      <p class="card-description">Incluye: 12 rosas rosadas, mani especial, masmelo, M&M, cruji jet, ferrero rocher x3, chocolate Moments, piazza</p>
      <p class="card-price">$145.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--6 linea y 22 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/22.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Teddy Love</h3>
      <p class="card-description">Incluye:8 rosas rojas , un peluche cariñosito pequeño, Montblanc, tarjeta personalizada, gipsofilias</p>
      <p class="card-price">$110.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--6 linea y 23 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/24.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Love Gold Deluxe</h3>
      <p class="card-description">Incluye: 2 M&M , 2 mini jumbo,3 mini hershey, 4 rosas rojas, chocolate corazon zeus  </p>
      <p class="card-price">$70.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--6 linea y 24 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/23.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Stich Love</h3>
      <p class="card-description">Incluye: 6 Rosas rojas naturales, gipsofilias, Peluche Stich mediano, Globo azul forma estrella, 6 Chocolates Ferrero Rocher, 3 chocolates Hersheys mini, Caja madera grande forma corazon. </p>
      <p class="card-price">$60.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>



</body>
</html>
