<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>
  <h1>BOLSOS</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
    <img src="/images/Bolsos/1.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Monedero Monkey</h3>
        <p class="card-description"></p>
        <p class="card-price">$30.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Bolsos/2.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mini Monedero LV-CH</h3>
        <p class="card-description"></p>
        <p class="card-price">$22.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Bolsos/3.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Billeteras para Hombre</h3>
        <p class="card-description"></p>
        <p class="card-price">$55.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Bolsos/4.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Monedero Basico</h3>
        <p class="card-description"></p>
        <p class="card-price">$20.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Bolsos/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Bolso Kuromi</h3>
        <p class="card-description"></p>
        <p class="card-price">Carteras $55.000</p>
        <p class="card-price">Mondero  $25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Bolsos/6.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Maletin Mickey Mouse / Spiderman</h3>
        <p class="card-description"> </p>
        <p class="card-price">Maletin Mickey     $57.000</p>
        <p class="card-price">Lonchera Spiderman $38.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Bolsos/7.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Billetera/Monedero TOUS</h3>
        <p class="card-description"></p>
        <p class="card-price">Monedero  $45.000</p>
        <p class="card-price">Billetera $55.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Bolsos/8.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Morral Iron Man / Paw Patrol</h3>
        <p class="card-description"></p>
        <p class="card-price">$57.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 3 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Bolsos/9.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Edicion Mario Bros</h3>
      <p class="card-description"></p>
      <p class="card-price">Morral   $57.000</p>
      <p class="card-price">Lonchera $38.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--3 linea y 10 tarjeta -->
  <div class="card">
    <img src="/images/Bolsos/10.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Maletin Encanto Disney</h3>
      <p class="card-description"></p>
      <p class="card-price">$57.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 11 tarjeta -->
  <div class="card">
    <img src="/images/Bolsos/11.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mini Bolsos Personajes</h3>
      <p class="card-description"></p>
      <p class="card-price">$30.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 12 tarjeta -->
  <div class="card">
    <img src="/images/Bolsos/12.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Maletin Encanto Disney</h3>
      <p class="card-description"> </p>
      <p class="card-price">$60.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- Fin 3 linea-->
<!-- inicio de 4 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Bolsos/13.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Cartera de Perlas</h3>
      <p class="card-description"></p>
      <p class="card-price">$45.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--4 linea y 14 tarjeta -->
  <div class="card">
    <img src="/images/Bolsos/14.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Carteras Deluxe</h3>
      <p class="card-description"></p>
      <p class="card-price">$45.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 15 tarjeta -->
  <div class="card">
    <img src="/images/Bolsos/15.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Edicion Hello Kitty</h3>
      <p class="card-description"></p>
      <p class="card-price">Lonchera      $60.000</p>
      <p class="card-price">Bolso Pequeño $25.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 16 tarjeta -->

</div>
</body>
</html>
