<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>
  <h1>BOUQUETS</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
      <video width="300" controls>
        <source src="/images/Bouquets/1.mp4" type="video/mp4">
        Tu navegador no soporta el elemento de video.
      </video>
      <div class="card-content">
        <h3 class="card-title">Queen´s Birthday</h3>
        <p class="card-description"></p>
        <p class="card-price">$110.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Bouquets/8.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">15's Deluxe</h3>
        <p class="card-description"></p>
        <p class="card-price">$65.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Bouquets/16.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">80's Deluxe</h3>
        <p class="card-description"></p>
        <p class="card-price">$80.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Bouquets/4.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Bassic HBD</h3>
        <p class="card-description"></p>
        <p class="card-price">$35.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Bouquets/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Bouquet Cumpleañero</h3>
        <p class="card-description"></p>
        <p class="card-price">$50.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Bouquets/11.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Bouquet Cumpleañero</h3>
        <p class="card-description"> </p>
        <p class="card-price">$50.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Bouquets/12.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Bassic Bouquet</h3>
        <p class="card-description"></p>
        <p class="card-price">$40.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Bouquets/10.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Gold Birthday</h3>
        <p class="card-description"></p>
        <p class="card-price">$40.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 3 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Bouquets/9.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Birthday Rose</h3>
      <p class="card-description"></p>
      <p class="card-price">$48.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--3 linea y 10 tarjeta -->
  <div class="card">
    <img src="/images/Bouquets/13.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Silver Birthday</h3>
      <p class="card-description"></p>
      <p class="card-price">$48.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 11 tarjeta -->
  <div class="card">
    <img src="/images/Bouquets/6.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Bouquet Spiderman</h3>
      <p class="card-description"></p>
      <p class="card-price">$50.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 12 tarjeta -->
  <div class="card">
    <img src="/images/Bouquets/7.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Bassic HBD 2.0</h3>
      <p class="card-description"> </p>
      <p class="card-price">$45.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- Fin 3 linea-->
<!-- inicio de 4 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Bouquets/2.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Cumpleañero</h3>
      <p class="card-description">No incluye cerveza</p>
      <p class="card-price">$62.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--4 linea y 14 tarjeta -->
  <div class="card">
    <img src="/images/Bouquets/14.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Sweet Birthday</h3>
      <p class="card-description"></p>
      <p class="card-price">$50.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 15 tarjeta -->
  <div class="card">
    <img src="/images/Bouquets/15.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Special day</h3>
      <p class="card-description"></p>
      <p class="card-price">$45.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 16 tarjeta -->
  <div class="card">
    <img src="/images/Bouquets/3.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Sweet XV</h3>
      <p class="card-description"></p>
      <p class="card-price">$48.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
</div>
<!-- inicio de 5 linea-->
<!-- inicio de 4 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Bouquets/17.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Bouquet Champagne</h3>
      <p class="card-description"></p>
      <p class="card-price">$50.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--4 linea y 14 tarjeta -->

</div>
</body>
</html>
