<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>
  <h1>DESAYUNOS</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/1.png" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Delicious Surprise</h3>
        <p class="card-description">Incluye:1 Jugo a elección, sándwich especial, Granola, Leche o yogurt, Porcion de frutas, 2 mini hersheys, 2 burbujets, Paquete de chocolates kisses , 1 Galleta tosh, Mensaje y decoración  </p>
        <p class="card-price">$120.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/2.png" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Sweet Morning</h3>
        <p class="card-description">Incluye:1 Jugo a elección, sándwich especial, Granola, 2 paquetes de ferreros x3, Porcion de frutas, 2 mini hersheys, 2 burbujets, 5 rosas rojas, 2 galletas tosh, Hershey, mani especial, Mensaje y decoración</p>
        <p class="card-price">$160.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/3.png" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Joyful Home</h3>
        <p class="card-description"> Incluye: Jugo de naranja, kumix, porción de frutas, sandwich especial, galleta tosh, hersheys, granola y Montblanc</p>
        <p class="card-price">$97.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/4.png" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Sunrise Special</h3>
        <p class="card-description">Incluye: Jugo de naranja, kumix, porción de frutas, sandwich especial, 2 galletas tosh, hersheys, granola, Porcion de chorizo, pringles, mini oreo,  porcion de chicharron</p>
        <p class="card-price">$150.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Desayunos/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Golden Joy</h3>
        <p class="card-description">Incluye: Jugo de naranja, kumix, porción de frutas, sandwich especial, hersheys, granola y tarjeta personalizada </p>
        <p class="card-price">$80.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/6.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Happy Box</h3>
        <p class="card-description">Incluye: Jugo de naranaja, mani especial, hershey mini, ferrero, croissant relleno, una picada ( queso, jamon ,deditos,chorizo, pepperoni)  </p>
        <p class="card-price">$55.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/7.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Sweet Day</h3>
        <p class="card-description">Incluye: Jugo de naranja, kumix, porción de frutas, sandwich especial, hersheys, granola y montblanc </p>
        <p class="card-price">$95.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Desayunos/8.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Special Day</h3>
        <p class="card-description">Incluye: Jugo de naranja, milo, parfait de frutas, sandwich especial, porción de chorizo</p>
        <p class="card-price">$85.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 3 linea-->




</body>
</html>
