<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>

  <!-- Contenedor principal con flexbox -->
  <div class="main-container">
    <!-- Hero Section -->
    <section class="hero">
      <img src="/images/Logo.png" alt="Logo" class="logo">
      <h2>Encuentra el regalo perfecto</h2>
      <p>Explore nuestra amplia selección de regalos únicos y pensados para cualquier ocasión.</p>
      <div class="buttons">
        <a href="https://www.facebook.com/profile.php?id=61567924366702" target="_blank">
          <button class="btn-primary">Facebook</button>
      </a>
        <a href="https://wa.me/573054170248" target="_blank">
            <button class="btn-secondary">Whatsapp</button>
        </a>
        <a href="https://www.instagram.com/shinedetails.bq/" target="_blank">
            <button class="btn-primary">Instagram</button>
          </a>
      </div>
    </section>

    <!-- Galería de imágenes -->
    <section class="gallery">
      <img src="/images/Arreglo floral.jpg" alt="Imagen 1">
      <img src="/images/Mama.jpeg" alt="Imagen 2">
      <img src="/images/Peluche y flores.jpg" alt="Imagen 3">
      <img src="/images/Ramo.jpeg" alt="Imagen 4">
    </section>
  </div>

</body>
</html>
