<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>
  <h1>PELUCHES</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
      <img src="/images/Peluches/1.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Osito Corazon  Pequeño #1</h3>
        <p class="card-description"></p>
        <p class="card-price">$20.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Peluches/2.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Osito Corazon Pequeño #2</h3>
        <p class="card-description"></p>
        <p class="card-price">$20.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/3.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Osito Corazon Pequeño #3</h3>
        <p class="card-description"></p>
        <p class="card-price">$20.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/4.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Osito Corazon Pequeño #4</h3>
        <p class="card-description"> </p>
        <p class="card-price">$20.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Peluches/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Oso Teddy Grande</h3>
        <p class="card-description"></p>
        <p class="card-price">$130.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/6.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Paw Patrol Pequeño</h3>
        <p class="card-description"></p>
        <p class="card-price">$35.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/7.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Pikachu Pokemon</h3>
        <p class="card-description"></p>
        <p class="card-price">$75.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/8.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Paw Patrol</h3>
        <p class="card-description"></p>
        <p class="card-price">Pequeño $35.000</p>
        <p class="card-price">Grande  $70.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 9 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Peluches/9.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Osito Cariñosito Edicion Especial</h3>
      <p class="card-description"></p>
      <p class="card-price">$75.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--3 linea y 10 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/10.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Osito Cariñosito Pequeño </h3>
      <p class="card-description"></p>
      <p class="card-price">$35.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 11 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/11.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Ositos Cariñosito Mediano</h3>
      <p class="card-description"></p>
      <p class="card-price">$60.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 12 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/12.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Verguenza - Intensamente</h3>
      <p class="card-description"></p>
      <p class="card-price">$78.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- Fin 3 linea-->
<!-- inicio de 13 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Peluches/13.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Princesa Peach - Super Mario Bros</h3>
      <p class="card-description"></p>
      <p class="card-price">$90.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--4 linea y 14 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/14.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Deadpool mediano</h3>
      <p class="card-description"></p>
      <p class="card-price">$58.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 15 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/15.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Unicornios Arcoiris Pequeños</h3>
      <p class="card-description"> </p>
      <p class="card-price">$35.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 16 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/16.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Angela y Stich </h3>
      <p class="card-description"></p>
      <p class="card-price"> Pequeño $35.000</p>
      <p class="card-price"> Mediano $55.000</p>
      <p class="card-price"> Grande  $110.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- inicio de 5 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Peluches/17.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Cars - Rayo McQueen Pequeño</h3>
      <p class="card-description"></p>
      <p class="card-price">$40.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--5 linea y 18 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/18.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Kuromi</h3>
      <p class="card-description"></p>
      <p class="card-price">Mediano $75.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--5 linea y 19 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/19.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Osito Arcoiris Mediano</h3>
      <p class="card-description"></p>
      <p class="card-price">$75.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--5 linea y 20 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/20.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Black Spiderman Mini</h3>
      <p class="card-description"> </p>
      <p class="card-price">$38.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- inicio de 6 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Peluches/21.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Ansiedad - Intensamente</h3>
      <p class="card-description"></p>
      <p class="card-price">$76.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--6 linea y 22 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/22.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Hello Kitty</h3>
      <p class="card-description"></p>
      <p class="card-price">Pequeño $50.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--6 linea y 23 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/23.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Tristeza - Intensamente</h3>
      <p class="card-description"></p>
      <p class="card-price">$75.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--6 linea y 24 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/24.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Alegria - Intensamente</h3>
      <p class="card-description"></p>
      <p class="card-price">$75.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
</div>
<!-- inicio de 7 linea-->
<div class="card-container">

    <div class="card">
      <img src="/images/Peluches/25.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Pikachu con Pokebola</h3>
        <p class="card-description"> </p>
        <p class="card-price">$85.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  <!--7 linea y 26 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/26.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Squirtle Pokemon</h3>
        <p class="card-description"></p>
        <p class="card-price">$80.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--7 linea y 27 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/27.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Tristeza - Intensamente</h3>
        <p class="card-description"></p>
        <p class="card-price">$85.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--7 linea y 28 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/28.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Baby Sullivan - Monsters Inc</h3>
        <p class="card-description"> </p>
        <p class="card-price">$85.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!-- inicio de 8 linea-->
<div class="card-container">

    <div class="card">
      <img src="/images/Peluches/29.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Sonic Mediano</h3>
        <p class="card-description"></p>
        <p class="card-price">$75.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  <!--8 linea y  30tarjeta -->
    <div class="card">
      <img src="/images/Peluches/30.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Donckey Kong - Super Mario Bros</h3>
        <p class="card-description"></p>
        <p class="card-price">$80.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--8 linea y 31 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/31.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Spiderman Mediano</h3>
        <p class="card-description"></p>
        <p class="card-price">$55.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--8 linea y 32 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/32.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mario Bros / Toad </h3>
        <p class="card-description"> </p>
        <p class="card-price">$35.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
   <!-- inicio de 9 linea-->
<div class="card-container">

    <div class="card">
      <img src="/images/Peluches/33.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Luigi Pequeño - Super Mario Bros</h3>
        <p class="card-description"></p>
        <p class="card-price">$45.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  <!--9 linea y  34 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/34.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Lumalee Estrella Grande - Super Mario Bros</h3>
        <p class="card-description"></p>
        <p class="card-price">$56.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--9 linea y 35 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/35.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Luigi Grande - Super Mario Bros</h3>
        <p class="card-description"></p>
        <p class="card-price">$70.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--9 linea y 36 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/36.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Monito Cariñoso</h3>
        <p class="card-description"></p>
        <p class="card-price">$60.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
   <!-- inicio de 10 linea-->
<div class="card-container">

    <div class="card">
      <img src="/images/Peluches/37.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Buzz Lightyear Pequeño</h3>
        <p class="card-description"></p>
        <p class="card-price">$30.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  <!--10 linea y  38 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/38.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Patricio Estrella Mediano</h3>
        <p class="card-description"></p>
        <p class="card-price">$50.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--10 linea y 39 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/39.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Ositos Cariñositos</h3>
        <p class="card-description"></p>
        <p class="card-price">Pequeño $35.000</p>
        <p class="card-price">Mediano $60.000</p>
        <p class="card-price">Grande  $150.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--10 linea y 40 tarjeta -->
    <div class="card">
      <img src="/images/Peluches/40.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mickey Mouse</h3>
        <p class="card-description"></p>
        <p class="card-price">Pequeño $35.000</p>
        <p class="card-price">Mediano $75.000</p>
        <p class="card-price">Grande  $110.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!-- inicio de 11 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Peluches/41.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Minnie Mouse</h3>
      <p class="card-description"></p>
      <p class="card-price">Pequeño $35.000</p>
      <p class="card-price">Mediano $75.000</p>
      <p class="card-price">Grande  $110.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--11 linea y  42 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/42.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Minion Pequeño</h3>
      <p class="card-description"></p>
      <p class="card-price">$30.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--11 linea y 43 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/43.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Jessie - Toy Story</h3>
      <p class="card-description"></p>
      <p class="card-price">$30.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--11 linea y 44 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/44.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Cojin cervecero</h3>
      <p class="card-description"></p>
      <p class="card-price">$50.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
</div>
<!-- inicio de 12 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Peluches/45.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Lotso Mediano - Toy Story </h3>
      <p class="card-description"></p>
      <p class="card-price">$85.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--11 linea y  42 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/46.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mini Chilindrina</h3>
      <p class="card-description"></p>
      <p class="card-price">$60.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--11 linea y 43 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/47.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Oso Corazón Love</h3>
      <p class="card-description"></p>
      <p class="card-price">$75.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--11 linea y 44 tarjeta -->
  <div class="card">
    <img src="/images/Peluches/48.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Cojin Corazón mediano</h3>
      <p class="card-description"></p>
      <p class="card-price">$32.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
</div>



</body>
</html>
