<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">INICIO</a>
      <a href="/Anchetas">ANCHETAS</a>
      <a href="/Peluches">PELUCHES</a>
      <a href="/Tazas">TAZAS</a>
      <a href="/Bolsos">BOLSOS</a>
      <a href="/Desayunos">DESAYUNOS</a>
      <a href="/Arreglos-florales">ARREGLOS FLORALES</a>
      <a href="/Bouquets">BOUQUETS</a>
    </nav>
  </header>
  <h1>TAZAS</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
      <img src="/images/Tazas/12.png" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Termo Stanley Grande</h3>
        <p class="card-description"></p>
        <p class="card-price">$150.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Tazas/11.png" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Termo Stanley Mediano</h3>
        <p class="card-description"></p>
        <p class="card-price">$110.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Tazas/1.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mug Barbie</h3>
        <p class="card-description"></p>
        <p class="card-price">$25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Tazas/2.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mug Real Madrid</h3>
        <p class="card-description"></p>
        <p class="card-price">$25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Tazas/3.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mug Monster Inc</h3>
        <p class="card-description"></p>
        <p class="card-price">$25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Tazas/4.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mug SuperMan</h3>
        <p class="card-description"></p>
        <p class="card-price">$25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Tazas/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mug Patricio Estrella</h3>
        <p class="card-description"></p>
        <p class="card-price">$25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Tazas/6.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mug Mario Bros</h3>
        <p class="card-description"></p>
        <p class="card-price">$25.000</p>
        <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 3 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Tazas/7.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mug Feliz Navidad</h3>
      <p class="card-description"></p>
      <p class="card-price">$25.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
<!--3 linea y 10 tarjeta -->
  <div class="card">
    <img src="/images/Tazas/8.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mug Bob Esponja</h3>
      <p class="card-description"> </p>
      <p class="card-price">$25.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 11 tarjeta -->
  <div class="card">
    <img src="/images/Tazas/9.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mug Capitan America</h3>
      <p class="card-description"></p>
      <p class="card-price">$25.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 12 tarjeta -->
  <div class="card">
    <img src="/images/Tazas/10.jpeg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mug Don Cangrejo</h3>
      <p class="card-description"></p>
      <p class="card-price">$25.000</p>
      <a href="https://wa.me/573054170248" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- Fin 3 linea-->
<!-- inicio de 4 linea-->
</body>
</html>
